<div class="block block-alt-noborder full">
    <div class="row">
        <div class="col-md-2">
            <div class="block-section">
                <form>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="submit" id="add-event-btn" class="btn btn-primary" ng-click="addShow()">
                                Add New Show&nbsp;<i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            <div id="calendar"></div>
        </div>
    </div>
</div>
