// @import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic');
// injector
@import 'components/chatbar/chatbar.less';
@import 'components/comments/comments.less';
@import 'components/footer/footer.less';
@import 'components/messagepopup/messagepopup.less';
@import 'components/navbar/navbar.less';
@import 'directives/activity/activityFeed.less';
@import 'directives/audio/audio.player.less';
@import 'directives/checkbox/checkbox.less';
@import 'directives/notifications/notifications.less';
@import 'directives/playlist/playlist.less';
@import 'directives/scheduler/scheduler.less';
@import 'directives/waveform/waveform.less';
@import 'views/home/home.less';
@import 'views/mixes/item/mix.less';
@import 'views/mixes/mixes.less';
@import 'views/mixes/upload/upload.less';
@import 'views/schedule/schedule.less';
@import 'views/user/item/userItem.less';
@import 'views/user/users.less';
// endinjector

.profile-dropdown-image {
  width: 29px;
  height: 29px;
}

.header .nav {
  float: left;
}

.top-nav-buttons {
  margin-left: 54px;
}