.row.mix-audio-container
    .col-md-12#mix-audio-container
        dss-audio-player(template='directives/audio/audio.player.html')
.row
    .col-sm-6
        .block.full.dss-mix-item
            .block-title
                .block-options.pull-right
                    a.btn.btn-sm.btn-alt.btn-default(data-toggle='tooltip', title='Description' ng-show="false")
                        i.fa.fa-ticket
                h2
                    strong Description
            span(ng-bind-html='mix.description | dssHtml')
    .col-sm-6
        dss-comments
