<h1></h1>
<div class="col-md-6">
    <div class="block">
        <div class="block-title">
            <h3 class="widget-content-light">
                Radio <strong>Controls</strong>
            </h3>
        </div>
        <form class="form-horizontal form-bordered">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <dss-search-mix mix="mix"></dss-search-mix>
                        <span class="input-group-btn">
                            <button ng-click="playMix()"
                                    type="button" class="btn btn-primary">
                                <i class="fa fa-search"></i> Choose mix
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <button class="btn btn-primary" ng-click="shuffleTrack()">
                            <i class="fa-random"></i>
                            Shuffle Track
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
