<div class="sidebar-toggle-box">
    <i class="fa fa-bars"></i>
</div>
<a ui-sref="root" class="logo hidden-md hidden-lg">D<span>S</span>S</a>
<a ui-sref="root" class="logo visible-md visible-lg">Deep<span>South</span>Sounds</a>
<div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu" ng-show="$root.currentUser">
        <dss-notifications />
    </ul>
</div>
<div class="top-nav visible-sm">
    <ul class="nav top-menu top-nav-buttons">
        <li id="navbar-upload-button">
            <a ui-sref="root.upload">
                <i class="fa fa-cloud-upload"></i>
                <span>Upload</span>
            </a>
        </li>
    </ul>
</div>
<div class="top-nav ">
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder="Search">
        </li>
        <li class="dropdown" ng-if="$root.currentUser">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" class="profile-dropdown-image" ng-src="{{$root.currentUser.profile_image_small}}">
                <span class="username">{{ $root.currentUser.display_name }}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a ui-sref="root.me"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a ui-sref="root.me.edit"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="#" ng-click="alert('Coming Soon');"><i class="fa fa-comments"></i> Chat</a></li>
                <li><a href="#" ng-click="logout()"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <li class="dropdown" ng-if="!$root.currentUser">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-user"></i>
                <span class="username">Login</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a href="#" ng-click="doLogin('facebook')"><i class=" fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#" ng-click="doLogin('twitter')"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#" ng-click="doLogin('google')"><i class="fa fa-google"></i> Google</a></li>
                <li><i class="fa fa-key"></i> Choose Provider</li>
            </ul>
        </li>
        <!--
        <li class="sb-toggle-right">
            <i class="fa  fa-align-right"></i>
        </li>
        -->
    </ul>
</div>
