img.navbar-profile-image {
  width: 28px;
  height: 28px;
}

div.social-buttons a {
  width: 180px;
}

.btn-fb {
  color: #fff !important;
  background-color: #3b5998 !important;
}

.btn-fb:hover {
  color: #fff !important;
  background-color: #496ebc !important;
}

.btn-tw {
  color: #fff !important;
  background-color: #55acee !important;
}

.btn-tw:hover {
  color: #fff !important;
  background-color: #59b5fa !important;
}

.btn-google {
  color: #fff !important;
  background-color: #c32f10 !important;
}

.btn-google:hover {
  color: #fff !important;
  background-color: #e42f10 !important;
}

.navbar-header {
}

nav > div.collapse.navbar-collapse > ul > li > a {
  color: #fff;
}

.navbar-profile-dropdown {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  margin-top: 4px;
}

.notification-label {
  position: absolute !important;
  top: 5px !important;;
  font-size: 11px !important;;
  font-weight: 400 !important;;
  padding: 0 3px !important;;
  line-height: 14px !important;;
}

#notifications-button {
  margin-top: 8px;
  padding: 11px 10px 9px;
  display: block;
  line-height: 20px;
  color: #fff;
  position: relative;
}

#notifications-button i {
  font-size: 18px;
}

.navbar-search {
  width: 412px;
}