<div class="container-fluid">
    <a ui-sref="root" id="brand">Deep|South|Sounds</a>
    <ul class="main-nav">
        <li class="ms-hover" ng-if="$root.currentUser">
            <a ui-sref="root.upload" ui-sref-active="active">
                <i class="fa fa-cloud-upload"></i>
                <span>Upload</span>
            </a>
        </li>
    </ul>

    <div class="user" ng-if="$root.currentUser">
        <ul class="icon-nav">
            <li class="dropdown" id="notifications">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notifications-button">
                    <i class="fa fa-envelope"></i>
                    <span class="label label-lightred">{{notificationCount}}</span>
                </a>
                <ul class="dropdown-menu pull-right message-ul">
                    <dss-notifications/>
                    <li>
                        <a href="components-messages.html" class="more-messages">Go to Message center
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ $root.currentUser.display_name }}
                <img class="navbar-profile-image img-circle" ng-src="{{$root.currentUser.profile_image_small}}" alt="">
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a ui-sref="root.me">View profile</a>
                </li>
                <li>
                    <a ui-sref="root.me.edit">Account settings</a>
                </li>
                <li>
                    <a href="#" ng-click="logout()">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="main-nav pull-right">
        <li class="ms-hover" ng-if="!$root.currentUser">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                Login/Signup
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="social-buttons">
                        <ul class="list-nostyle">
                            <li>
                                <a ng-click="doLogin('facebook')" class="btn btn-fb"><i
                                        class="fa fa-facebook"></i> Facebook</a>
                            </li>
                            <li>
                                <a ng-click="doLogin('twitter')" class="btn btn-tw"><i
                                        class="fa fa-twitter"></i> Twitter</a>
                            </li>
                            <li>
                                <a ng-click="doLogin('google')" class="btn btn-google"><i class="fa fa-google"></i>
                                    Google</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="user" ng-if="false">
        <ul class="icon-nav">
            <li>
                <form action="search-results.html" method="GET" class="search-form">
                    <div class="search-pane">
                        <input type="text" ng-model="selected" placeholder="Search..."
                               typeahead="result for results in getSearchResults($viewValue)"
                               typeahead-template-url="app/views/templates/searchResult.html"
                               typeahead-loading="loadingSearchResults"
                               class="form-control"/>
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
