<div class="col-sm-4 col-md-4" ng-repeat="user in users">
    <div class="post">
        <div class="post-img-content">
            <a ui-sref="root.user({user: user.slug})">
                <img class="userlist-profile-image" ng-src="{{user.profile_image_medium}}" class="img-responsive"/>
            </a>
            <br/>
            <span class="post-title">
                <b>{{user.display_name}}</b>
            </span>
        </div>
        <div class="content">
            <div>
               {{user.title}}
            </div>
        </div>
    </div>
</div>
