<section class="wrapper user-list-wrapper">
    <ul class="directory-list">
        <li ng-repeat="initial in initials">
            <a ui-sref="root.users({initial: initial})"
               ng-class="currentInitial==initial ? 'active' : ''">{{initial}}
            </a>
        </li>
    </ul>
    <div class="directory-info-row">
        <div class="row" infinite-scroll="nextPage()" infinite-scroll-distance="3">
            <div class="col-md-6 col-sm-6" ng-repeat="user in users">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" ui-sref="root.user({user: user.slug})">
                                <img class="thumb media-object" ng-src="{{user.profile_image_small}}" alt="">
                            </a>
                            <div class="media-body">
                                <h4>{{user.display_name}} <span class="text-muted small"> - {{user.title}}</span></h4>
                                <ul class="social-links" ng-if="false">
                                    <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                           data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                           data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                           data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                                           data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <span class="users-inline-description" ng-bind-html="user.description">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
