<div class="btn-group">
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Add to <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <div class="panel playlist-wrapper">
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">+</span>
                        <input type="text" class="form-control" placeholder="New playlist"
                               ng-model="newPlaylist" enter-press="addPlaylist()">
                    </div>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback profile-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <!--
                        <li><a href="#"> <i class="fa fa-user"></i> Favourites</a></li>
                        -->
                        <li ng-repeat="list in playlists" ng-class="list.contains_mix ? 'contains-mix' : ''">
                            <a href="#" ng-click="togglePlaylist(list.slug)"> <i class="fa fa-user"></i> {{list.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>