ul.timeline-list
    li.active(ng-repeat="item in activity")
        .timeline-icon
            img.img-circle.timeline-avatar-image(ng-src="{{item.from_user.profile_image_small}}")
        .timeline-time
            small {{item.date|humanise}}
        .timeline-content
            p.push-bit
                a(ui-sref='root.users.user({slug: item.from_user.slug})')
                    strong {{item.from_user.display_name}}
            p.push-bit {{item.verb}}
                a(ng-href="{{item.object_type}}/{{item.object_slug}}")
                    |  {{item.object_name}}
