.block
    .block-title
        h2
            strong Comments
    .block-content-full
        // You can remove the class .media-feed-hover if you don't want each event to be highlighted on mouse hover
        ul.media-list.media-feed.media-feed-hover
            li.media
                form.form-horizontal
                    .form-group
                        .col-xs-12
                            textarea.form-control(ng-model="newComment" rows='4' placeholder='Compose a comment..')
                    .form-group
                        .col-xs-6
                            .btn-group(ng-show="false")
                                button.btn.btn-default(type='button' tooltip data-toggle='tooltip' title='Add Image')
                                    i.fa.fa-picture-o
                                button.btn.btn-default(type='button' tooltip data-toggle='tooltip' title='Add Location')
                                    i.fa.fa-location-arrow
                                button.btn.btn-default(type='button' tooltip data-toggle='tooltip' title='Add Recording')
                                    i.fa.fa-microphone
                        .col-xs-6.text-right
                            button.btn.btn-default(type='submit' ng-click="postComment()")
                                i.fa.fa-pencil
                                |  POST
            li.media(ng-repeat="comment in comments" ng-animate="'animate'")
                a.pull-left()
                    img.img-circle.user-profile-insert-medium(ng-src='{{comment.avatar_image}}', alt='{{comment.user.display_name}}')
                .media-body
                    p.push-bit
                        span.text-muted.pull-right
                            small {{comment.date_created|humanise}}
                            span.text-info()
                                i.fa.fa-globe
                        strong
                            a(ui-sref='root.users.user({slug: comment.slug})') {{comment.display_name}}
                            |  commented.
                    p {{comment.comment}}
                    p
                        a.btn.btn-xs.btn-default(href='javascript:void(0)')
                            i.fa.fa-thumbs-o-up
                            |  Like
                        a.btn.btn-xs.btn-default(ng-click='deleteComment(comment)')
                            i.fa.fa-remove
                            |  Delete
