<a ui-sref="root.user.mix({user: mix.user.slug, mix: mix.slug})">
    <div class="widget">
        <div class="widget-simple">
            <div href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background">
                <img class="search-result-image" ng-src="{{match.model.image}}" class="widget-icon sidebar-user-avatar pull-right"/>
            </div>
            <h4 class="widget-content text-right animation-hatch">
                <small>{{match.model.title}}</small>
            </h4>
        </div>
    </div>
</a>
